*{
    padding: 0;
    margin: 0;
}
p{
    font-size: 16px;
}
h3{
    font-size: 18px;
    color: #f11717;
}
section{
    width: 1160px;
    margin: 0 auto;
}
header{
    background-color: aqua;
    display: flex;
    justify-content: center;
    color: blueviolet;
}
header a:hover{
    color: chartreuse;
    background-color: hotpink; 

}

.btn{
    color: rgb(11, 128, 231);
    text-decoration: none;
    padding: 12px;
    font-weight: bold;
}
header div{
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.main-image {
    position: relative;
}
.main-image div{
    background-color: rgb(165,0, 30, 0.4);
    height: 55px;
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 0;

}
.main-image p{
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 0 17px;
}
.item{
    width: 280px;
    border: 1px solid hsl(0, 59%, 41%); 
    padding-bottom: 12px;
    margin-top: 15px;
}
.btn-red{
  border: none;
  background-color: #f11717;
  color: aliceblue; 
  width: 236px;
  padding: 12px auto;
  margin: 12px 0;
  display: block;
  display: flex;
  justify-content: center;
}
.item-description{
    padding: 10px;
}
.item p{
    margin: 12px;
}
.contener-item{
    display: flex;
    margin: 0 215px;
   justify-content: center
    
}
/* notre entreprise */
.busness{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

}
.description-business{
    width: 573px;
}
/* footer */
footer{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
footer p{
    margin: 80px;
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
}
footer div{
    display: flex;
    align-items: center;
    
}
footer div a{
    text-decoration: none;
    font-weight: bold;
}

